:root {
  --header-height: 3.5rem;

  /*==== COLORS ====*/
  --hue-color: 250;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  /*==== TYPOGRAPHY ====*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*==== FONT WEIGHT ====*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*==== BOTTOM MARGINS ====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*==== Z INDEX ====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==== FONT SIZE FOR LARGE DEVICES ====*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==== DEFAULT ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==== REUSABLE CSS CLASSES ====*/
.section {
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.main {
  overflow: hidden;
}

/*==== LAYOUT ====*/
.container {
  max-width: 1024px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*==== HEADER & NAV ====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
  padding: 1rem 2rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo svg {
  width: 2rem;
  fill: #fff;
  transition: 0.3s;
}

.nav__logo svg:hover {
  fill: var(--first-color);
}

@media screen and (max-width: 1023px) {
  .nav {
    justify-content: center;
  }

  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px hsla(230, 65%, 45%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4rem;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    display: none;
  }
}

/*==== CHANGE BACKGROUND HEADER ====*/
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 8px 24px hsla(230, 65%, 45%, 0.15);
}

.scroll-header .nav__logo svg {
  fill: var(--first-color);
}

main {
  height: 3000px;
}

/*==== HOME ====*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  padding: 1rem 1rem 0 0;
}

.home__social-icon:hover,
.home__scroll-button:hover {
  color: var(--first-color-alt);
}
.home__scroll-button {
  font-size: 1.75rem;
  color: var(--container-color);
}

.home__scroll:hover {
  transform: translateY(0.25rem);
}

.home__scroll {
  position: absolute;
  right: 1.5rem;
  top: 11.5rem;
  height: 2rem;
  width: 2rem;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(230, 65%, 45%, 0.15);
  /* display: none; */
}

.home_tittle {
  font-weight: var(--font-regular);
  font-size: var(--h2-font-size);
}

.home_tittle span {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--big-font-size);
}

h1.home_tittle,
.home__description {
  color: #fff;
}

.home__description {
  margin-top: 0.5rem;
  font-weight: var(--font-light);
}

.home {
  background: linear-gradient(170deg, hsl(250, 69%, 5%), hsl(250, 69%, 20%));
  padding-bottom: 0;
}

.home__image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.home__image img {
  width: 70%;
  animation: float 4s alternate infinite ease-in-out;
}

/*==== BUTTONS ====*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  margin: 0 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*==== ABOUT ME ====*/
@keyframes float {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}
